<ion-header [translucent]="true">
  <ion-toolbar color="favorite">
    <ion-buttons color="favorite" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{page}}</ion-title>
  </ion-toolbar>
</ion-header>