<!-- Login Form View-->
<ion-content padding>
  <div class="container">
    <div class="login-header">
      <ion-text color="light">
        <h1>Login</h1>
      </ion-text>
    </div>
    <ion-card>
      <ion-card-content>
        <form [formGroup]="loginForm" novalidate novalidate autocomplete="off" autocorrect="off" class="plr-10">
          <ion-item lines="full" color="light" class="rounded">
            <ion-label>Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-row *ngIf="loginForm.get('name').invalid && loginForm.get('name').touched">
            <ion-col>
              <ion-text color="danger">
                <h5>Invalid Username</h5>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-item lines="full" color="light" class="rounded">
            <ion-label>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-row *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
            <ion-col>
              <ion-text color="danger">
                <h5>Invalid Password</h5>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-button color="favorite" expand="block" shape="round" fill="outline" [disabled]="!loginForm.valid"
            (click)="login()">Login</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="text-center">
      <ion-text class="fz-md">Version {{appVarsion}}</ion-text>
    </div>
  </div>
</ion-content>