/*
 * Login Component CSS
 */

.container {
    margin-left:auto; 
    margin-right: auto; 
    padding: 10px;
    height: 100vh;
    background-image: url('../../../assets/login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.rounded {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: grey;
}

ion-button{
    --background: #062f77;
}

.login-header {
    display: flex;
    justify-content: center;
}

.btn-color {
    color: #ffffff;
}

.text-center {
    text-align: center;
}