
<app-top-bar></app-top-bar>
<!-- Show all employee Data as a list-->
<ion-content class="text-center">
  <div *ngFor="let emp of empData;let i = index">
    <ion-list>
      <ion-item lines="full">
        <ion-grid>
          <ion-row class="center-items">
            <ion-col size="8" (click)="dispalyEmp(i)">
              <div class="fz-md fw-600">{{emp?.fname}} {{emp?.lname}}</div>
              <div class="fz-sm fw-500 text-gray">{{emp?.email}}</div>
            </ion-col>
            <ion-col size="4" class="ion-text-end">
              <ion-icon color="favorite" class="plr-10" name="create" (click)="edit(i)"></ion-icon>
              <ion-icon class="plr-10" name="trash" color="danger" (click)="confirm(i)"></ion-icon>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>

    </ion-list>
  </div>
  <div class="mt-50">
    <ion-text *ngIf="!empData || empData?.length === 0" class="text-gray mt-10">No employee data found</ion-text>
  </div>
</ion-content>