<app-top-bar></app-top-bar>
<ion-content>
  <!-- Form to Add and Update employee Data -->
  <form [formGroup]="empForm" novalidate autocomplete="off" autocorrect="off">
    <ion-item lines="full">
      <ion-label>First Name</ion-label>
      <ion-input name="fname" type="text" formControlName="fname" inputmode="text"></ion-input>
      <ion-row *ngIf="empForm.get('fname').value && empForm.get('fname').invalid && empForm.get('fname').dirty">
        <ion-text color="danger">
          <div class="fz-xs fw-500">*Invalid</div>
        </ion-text>
      </ion-row>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Last Name</ion-label>
      <ion-input name="lname" type="text" formControlName="lname" inputmode="text"></ion-input>
      <ion-row *ngIf="empForm.get('lname').value && empForm.get('lname').invalid && empForm.get('lname').dirty">
        <ion-text color="danger">
          <div class="fz-xs fw-500">*Invalid</div>
        </ion-text>
      </ion-row>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Gender</ion-label>
      <ion-select name="gender" formControlName="gender" interface="popover" placeholder="Select">
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="male">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="full">
      <ion-label>DOB</ion-label>
      <ion-datetime name="dob" displayFormat="DD/MM/YYYY" formControlName="dob" placeholder="Select">
      </ion-datetime>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Email</ion-label>
      <ion-input name="email" type="email" formControlName="email" inputmode="email"></ion-input>
      <ion-row *ngIf="empForm.get('email').value && empForm.get('email').invalid && empForm.get('email').dirty">
        <ion-text color="danger">
          <div class="fz-xs fw-500">*Invalid</div>
        </ion-text>
      </ion-row>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Phone</ion-label>
      <ion-input name="phone" type="text" formControlName="phone" inputmode="tel"></ion-input>
      <ion-row *ngIf="empForm.get('phone').value && empForm.get('phone').invalid && empForm.get('phone').dirty">
        <ion-text color="danger">
          <div class="fz-xs fw-500">*Invalid</div>
        </ion-text>
      </ion-row>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Address</ion-label>
      <ion-input name="address" type="text" formControlName="address" inputmode="text"></ion-input>
      <ion-row *ngIf="empForm.get('address').value && empForm.get('address').invalid && empForm.get('address').dirty">
        <ion-text color="danger">
          <div class="fz-xs fw-500">*Required</div>
        </ion-text>
      </ion-row>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Status</ion-label>
      <ion-toggle color="favorite" name="status" formControlName="status"></ion-toggle>
    </ion-item>
    <div class="outer">
      <!-- Button which is to be rendered Based on the Add or Edit User action -->
      <ion-button color="favorite" size="block" [disabled]="!empForm.valid" (click)="manage(empdata, index)">
        {{empdata? 'Edit User' :'Add User'}}
      </ion-button>
    </div>
  </form>
</ion-content>