/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/*Customized CSS used through out app */
.fz-xxs {
    font-size: 6px;
}

.fz-xs {
    font-size: 8px;
}

.fz-xs {
    font-size: 10px;
}

.fz-sm {
    font-size: 12px;
}

.fz-md {
    font-size: 14px;
}

.fz-lg {
    font-size: 16px;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 500;
}

.mt-50 {
    margin-top: 50px;
}

.plr-5 {
    padding-left: 5px;
    padding-right: 5px;;
}

.plr-10 {
    padding-left: 10px;
    padding-right: 10px;;
}

.text-gray {
    color: gray;
}

.text-red {
    color: #ff0000;
}

.center-items {
    display: flex;
    align-items: center;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

.text-theme {
    color: #086e8f !important;
}