<app-top-bar></app-top-bar>
<!-- Show a particular employee Data -->
<ion-content>
    <ion-item lines="full" color="light">
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    <ion-label>First Name:</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-text>{{ empData?.fname}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item lines="full">
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    <ion-label>Last Name:</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-text>{{ empData?.lname}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item lines="full" color="light">
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    <ion-label>Gender:</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-text>{{ empData?.gender}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item lines="full">
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    <ion-label>Date Of Birth:</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-text>{{ empData?.dob}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item lines="full" color="light">
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    <ion-label>Email:</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-text>{{ empData?.email}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item lines="full">
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    <ion-label>Phone:</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-text>{{ empData?.phone}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item lines="full" color="light">
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    <ion-label>Address:</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-text>{{ empData?.address}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item lines="full">
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    <ion-label>Status:</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-text>{{ empData?.status}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-content>